<div class="container">
  <div class="row">
    <div class="col">
      <%if @model=="User"%>
        <h3>Users search for "<%=@word%>"</h3>
        <%=render"users/index",users:@users%>
      <%else @model=="Book"%>
        <h3>Books search for "<%=@word%>"</h3>
        <%=render"books/index",books:@books%>
      <%end%>
    </div>
  </div>
</div>